 {
    display: grid;
    background-color: rgb(132, 34, 224);
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat (6, 1fr);
    display:grid;
    grid-template-columns:  repeat(6, minmax(100px,1fr));
    grid-template-rows: repeat(6, minmax(100px,1fr));
    gap: 2px;
}

.uno {
background-color: pink;
grid-column-start: 1;
grid-column-end: 8;
grid-row-start: 1;
grid-row-end: 2;
}
.dos {
background-color: red;
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 2;
grid-row-end: 4;
}
.tres {
background-color: yellow;
grid-column-start: 4;
grid-column-end: 6;
grid-row-start: 2;
grid-row-end: 4;
}
.cuatro
{
background-color: purple;
grid-column-start: 6;
grid-column-end: 8;
grid-row-start: 2;
grid-row-end: 4;
}
.cinco {
    background-color: blue;
grid-column-start: 1;
grid-column-end: 5;
grid-row-start: 4;
grid-row-end: 6;
}
.seis {
background-color: orangered;
grid-column-start: 5;
grid-column-end: 8;
grid-row-start:4;
grid-row-end: 6;
}
.siete {
background-color: green;
grid-column-start: 1;
grid-column-end: 8;
grid-row-start: 6;
grid-row-end: 7;
}